#!/bin/bash
#SBATCH --time=2:00:00
#SBATCH --partition=short
#SBATCH --mail-type=END
#SBATCH --mail-user=tobias1.schneider@student.uni-siegen.de
#SBATCH --exclusive
#SBATCH --nodes $!nNodes!$
#SBATCH --ntasks-per-node=12

module load PrgEnv/gcc-openmpi/4.8.4-1.8.1

date
cd $!musubi_path!$
mpiexec $!musubi_executable!$ $!musubi_file!$
date
