require 'common'
simulation_name = 'channel_cylinder_Re'..Re

restart = {
  read = '$!file!$',
}

output_folder = '$!out!$'     -- Output location 
output=  { 
    format = 'vtk',   -- Output format 
    write_pvd = false
}
